{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" id="register-container">
                <div class="col-sm-4 " id="login-container">
                    <div class="card border-mao " >
                      <div class="card-header">Login</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Student infos</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="Username..." class="form-control">
                            <input type="password" name="password" placeholder="Password..." class="form-control" >

                            <input class='btn btn-info' type="submit" name="Login">
                        </form>
                          <hr>
                          {% for message in messages %}
                            <p>{{message}}</p>
                          {% endfor %}
                          <h5 class="card-title">Don't have an account ? <a href="{% url 'register' %}" class="ml-2">Sign up</a> </h5>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                </div>

</div>
{% endblock %}