{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
                <div class="col-sm-12">
                    <div class="card border-mao " >
                      <div class="card-header">Login</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Student infos</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form }}

                            <input class='btn btn-info' type="submit" name="submit">
                        </form>
                          <hr>
                          <h5 class="card-title">Title</h5>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                </div>

</div>
{% endblock %}