{% load static %}
<div class=" navcustom">
            <nav class="navbar navbar-expand-lg navbar-light bg-light  "> <!-- bg-light -->
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'store' %}">Store</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'mydashboard' %}">My Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_settings' %}">Account settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>

                </ul>
              </div>

                <span>Hello, {{request.user.first_name}} {{request.user.last_name}}</span>
              <div class="form-inline my-2 my-lg-0" style="margin-left: 10px">
                  <a href="{% url 'cart' %}">
	    		    <img  id="cart-icon" src="{% static 'base/media/cart.png' %}">
	    	      </a>
	    	      <p id="cart-total">{{cartItems}}</p>
                </div>

            </nav>


</div>