{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" id="register-container">
                <div class="col-sm-4 " id="login-container">
                    <div class="card border-mao " >
                      <div class="card-header">Password sent</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Password sent</h5>

                          <p>Check your emails to reset your pasword
                          </p>
                          <a class="btn btn-info " href="{% url 'login' %}"  aria-disabled="true">Login</a

                          <h5 class="card-title">Don't have an account ? <a href="{% url 'register' %}" class="ml-2">Sign up</a> </h5>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                </div>

</div>
{% endblock %}