{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" id="register-container">
                <div class="col-sm-8" id="login-container">
                    <div class="card border-mao " >
                      <div class="card-header">Register</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Student infos</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <h6 class="card-title">{{field.label}}</h6>
                                {{field}}
                                <br>
                                <hr>

                            {% endfor %}

                            <input class='btn btn-info' type="submit" name="Create User">
                        </form>
                          {{form.errors}}
                          <hr>
                          <h5 class="card-title">Already have an account?
                              <a href="{% url 'login' %}" class="ml-2">Login</a> </h5></h5>
                        <p class="card-text">

                        </p>
                      </div>
                    </div>
                </div>

</div>
{% endblock %}