{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
                <div class="col-sm-8 h-100">
                    <div class="card border-mao " >
                      <div class="card-header">Store</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">{{total_products}} Products 2commit</h5>
                        <p class="card-text">Wonderful produts!


                        </p>
                          <hr>
                          <h5 class="card-title">Products</h5>
                        <p class="card-text">
                            {% for i in products %}
                                <h6 class="card-title">{{i}}</h6>
                                <br>
                            {{i.description}}
                                <br>
                                <button class="btn btn-primary" type="submit">Purchase for {{i.price}} euros</button>
                                <hr>

                            {% endfor %}
                        </p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-primary " >
                      <div class="card-header">Search</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Search products</h5>

                          <form method="get" >
                              {% for i in myFilter.form %}
                                {{i.name}} : {{i}}
                            <hr>

                            {% endfor %}
                              <button class="btn btn-primary" type="submit">Search</button>


                          </form>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <img src="{% static 'base/media/logo.jpg'%}" class="img-fluid content-center h-64 w-auto" alt="Responsive image">
                      </div>
                    </div>
                </div>
              </div>

{% endblock %}