{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
                <div class="col-sm-8 h-100">
                    <div class="card border-mao " >
                      <div class="card-header">Store</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Student infos</h5>
                        <p class="card-text">
                            {{student.name}}, {{student.phone}}, {{student.email}}, {{student.gender}}, {{student.date_created}}

                        </p>
                          <hr>
                          <h5 class="card-title">My {{total_orders}} past orders</h5>
                        <p class="card-text">I have ordered :
                            {% for i in orders %}
                                {{i.product}}

                            {% endfor %}
                        </p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-primary " >
                      <div class="card-header">Header</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <img src="{% static 'base/media/logo.jpg'%}" class="img-fluid content-center h-64 w-auto" alt="Responsive image">
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                    <div class="card border-primary " >
                      <div class="card-header">Header</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <img src="{% static 'base/media/2.jpg'%}" class="img-fluid content-center h-64 w-auto" alt="Responsive image">
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-primary " >
                      <div class="card-header">Header</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">NINI truc quelquechose</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <img src="{% static 'base/media/2.jpg'%}" class="img-fluid content-center" alt="Responsive image">
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-primary " >
                      <div class="card-header">Header</div>
                      <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <img src="{% static 'base/media/2.jpg'%}" class="img-fluid content-center clair" alt="Responsive image">
                      </div>
                    </div>
                </div>
              </div>
{% endblock %}