
body {
        background: linear-gradient(90deg, hsla(255, 50%, 94%, 0.9) 0%, hsla(110, 92%, 95%, 1) 100%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        background-attachment: fixed;

}

.border-mao {
border-color: hsla(255, 50%, 94%, 1)!important;
}
.textcenter {
text-align:center;
}
.pt {
       padding-top:15px;
}
.main {
       /* background: hsla(235, 60%, 96%, 1); */
        border: solid 1 px;
        padding-top: 5px;
        background-image: url("../media/tabledemix.jpg")!important ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        background-attachment: fixed;
        z-index:0;
      /*  opacity: 0.33; */

}

.row {
padding-bottom:5px;
background-image: url("{% static 'base/media/tabledemix.jpg'%}")!important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        background-attachment: fixed;
}

.card {
opacity: 0.9;
}
.clair {
z-index:1;
opacity:1!important;
}
.navcustom {
padding-top:5px;

}
#register-container {

}
#login-container {

display: inline-block;
margin: 0 auto;
}
.profile-pic{
		max-width: 150px;
		max-height:150px;
		margin: 0 auto;

	}
#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
	}

.shadow {
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}
.margin-bot{
    margin-bottom: 15px;
    margin-top: 15px;
}
.h-128{
height: 128px;
}
.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}